@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Monserrat";
    src: url("../../public/fonts/monserrat-alt/MontserratAlt1-Regular.otf");
}

@font-face {
  font-family: "Rany";
  src: url("../../public/fonts/rany/Rany-Light.otf");
}

body {
  overflow: hidden;
  width: fit-content;
  background-color: #eeeeee;
}

.react-terminal-wrapper {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background-color: #24252a !important; 
  overflow: hidden !important;
  font-size: 1rem !important;
  line-height: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-left: 20px !important;
  padding-top: 55px !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  width: 100% !important;
}




.react-terminal {
  width: 100%;
  overflow: hidden !important;
  flex-shrink: 0;
  
}

.react-terminal-line {
  overflow: hidden;
}

@media only screen and (min-width: 100px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.1rem !important;  
    line-height: 0.2rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }

  .terminal-segment {
    font-size: 1.0vmin !important;
    line-height: 1.15vmin !important;
  }
}

@media only screen and (min-width: 200px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.1rem !important;  
    line-height: 0.2rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }

  .terminal-segment {
    font-size: 1.15vmin !important;
    line-height: 1.3vmin !important;
  }
}


@media only screen and (min-width: 300px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.2rem !important;  
    line-height: 0.3rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }

  .terminal-segment {
    font-size: 1.35vmin !important;
    line-height: 1.5vmin !important;
  }
}

@media only screen and (min-width: 400px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.3rem !important;  
    line-height: 0.4rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }

  .terminal-segment {
    font-size: 1.5vmin !important;
    line-height: 1.65vmin !important;
  }
}

@media only screen and (min-width: 500px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.45rem !important;  
    line-height: 0.55rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }

  .terminal-segment {
    font-size: 1.5vmin !important;
    line-height: 1.65vmin !important;
  }
  
}

@media only screen and (min-width: 600px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.55rem !important;  
    line-height: 0.65rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }

  .terminal-segment {
    font-size: 1.5vmin !important;
    line-height: 1.65vmin !important;
  }
}

@media only screen and (min-width: 636px)  {  

  .terminal-segment {
    font-size: 1.45vmin !important;
    line-height: 1.5vmin !important;
  }
}


@media only screen and (min-width: 700px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.65rem !important;  
    line-height: 0.75rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }
}

@media only screen and (min-width: 800px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.75rem !important;  
    line-height: 0.85rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }


}

@media only screen and (min-width: 900px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.85rem !important;  
    line-height: 0.95rem !important;
  } 

  .react-terminal {
    height: 50vmin !important;
  }

  
}

@media only screen and (min-width: 1000px) {  
  .react-terminal-wrapper  { 
    font-size: 0.95rem !important;  
    line-height: 1.05rem !important;
  } 

  .terminal-segment {
    font-size: 1.45vmin !important;
    line-height: 1.6vmin !important;
  }
}

@media only screen and (min-width: 1024px) {  

  .terminal-segment {
    font-size: 0.85vmin !important;
    line-height: 1vmin !important;
  }
}

@media only screen and (min-width: 1100px) {  
  .react-terminal-wrapper  { 
    font-size: 1rem !important;  
    line-height: 1.1rem !important;
  } 

  .terminal-segment {
    font-size: 0.95vmin !important;
    line-height: 1.1vmin !important;
  }
  
}

@media only screen and (min-width: 1200px) {  

  .terminal-segment {
    font-size: 1vmin !important;
    line-height: 1.15vmin !important;
  }
  
}

@media only screen and (min-width: 1300px) {  

  .terminal-segment {
    font-size: 1.05vmin !important;
    line-height: 1.2vmin !important;
  }
  
}

@media only screen and (min-width: 1536px) {  

  .terminal-segment {
    font-size: 0.75vmin !important;
    line-height: 0.9vmin !important;
  }
  
}


@media only screen and (min-width: 1700px) {  

  .terminal-segment {
    font-size: 1vmin !important;
    line-height: 1.15vmin !important;
  }
  
}



@media only screen and (min-width: 1900px) {  

  .terminal-segment {
    font-size: 1.25vmin !important;
    line-height: 1.4vmin !important;
  }
  
}

@media only screen and (min-width: 2000px) {  

  .terminal-segment {
    font-size: 1.25vmin !important;
    line-height: 1.4vmin !important;
  }
  
}


.code-block > span {
  width: inherit;
}