@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Monserrat";
    src: url("../../public/fonts/monserrat-alt/MontserratAlt1-Regular.otf");
}

@font-face {
  font-family: "Rany";
  src: url("../../public/fonts/rany/Rany-Light.otf");
}


body {
  overflow: hidden;
  background-color: #eeeeee;
  height: fit-content;
}

.page {
  height: calc();
}

.react-terminal-wrapper {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background-color: #24252a !important; 
  overflow: hidden !important;
  font-size: 1rem !important;
  line-height: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-left: 20px !important;
  padding-top: 55px !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  width: 100% !important;
}




.react-terminal {
  width: 100%;
  overflow: hidden !important;
  flex-shrink: 0;
  
}

.react-terminal-line {
  overflow: hidden;
}

@media only screen and (min-width: 100px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.11rem !important;  
    line-height: 0.21rem !important;
  } 

  .react-terminal {
    height: 55vmin !important;
  }

}

@media only screen and (min-width: 200px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.16rem !important;  
    line-height: 0.26rem !important;
  } 
}


@media only screen and (min-width: 300px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.275rem !important;  
    line-height: 0.375rem !important;
  } 

}

@media only screen and (min-width: 400px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.35rem !important;  
    line-height: 0.45rem !important;
  } 

}

@media only screen and (min-width: 500px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.45rem !important;  
    line-height: 0.55rem !important;
  } 

}

@media only screen and (min-width: 600px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.55rem !important;  
    line-height: 0.65rem !important;
  } 



}

@media only screen and (min-width: 636px)  {  

  .react-terminal-wrapper  { 
    font-size: 0.6rem !important;  
    line-height: 0.7rem !important;
  } 
  
}


@media only screen and (min-width: 700px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.7rem !important;  
    line-height: 0.8rem !important;
  } 

  .react-terminal {
    height: 60vmin !important;
  }

}

@media only screen and (min-width: 800px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.78rem !important;  
    line-height: 0.88rem !important;
  } 

}

@media only screen and (min-width: 900px)  {  
  .react-terminal-wrapper  { 
    font-size: 0.88rem !important;  
    line-height: 0.98rem !important;
  } 
  
}

@media only screen and (min-width: 1000px) {  


  .react-terminal-wrapper  { 
    font-size: 0.95rem !important;  
    line-height: 1.05rem !important;
  } 

  
}

@media only screen and (min-width: 1024px) {  

  .react-terminal-wrapper  { 
    font-size: 1rem !important;  
    line-height: 1.1rem !important;
  } 

}

@media only screen and (min-width: 1100px) {  
  .react-terminal-wrapper  { 
    font-size: 1rem !important;  
    line-height: 1.1rem !important;
  } 

      
  .react-terminal {
    height: 52.5vmin !important;
  }

  
}

@media only screen and (min-width: 1200px) {  

  .terminal-segment {
    font-size: 0.95vmin !important;
    line-height: 1.1vmin !important;
  }
  
  .react-terminal {
    height: 50vmin !important;
  }
  
  
}

@media only screen and (min-width: 1300px) {  

 
  .react-terminal {
    height: 47.5vmin !important;
  }


}


@media only screen and (min-width: 1400px) {  
 
  .react-terminal {
    height: 45vmin !important;
  }


}

@media only screen and (min-width: 1500px) {  



  .react-terminal {
    height: 42.5vmin !important;
  }

}
  

@media only screen and (min-width: 1536px) {  


  .react-terminal {
    height: 42.5vmin !important;
  }
  
}

@media only screen and (min-width: 1600px) {  


  .react-terminal {
    height: 40vmin !important;
  }
  
}


@media only screen and (min-width: 1700px) {  



  .react-terminal {
    height: 37.5vmin !important;
  }
  
}



@media only screen and (min-width: 1900px) {  


  .react-terminal {
    height: 32.5vmin !important;
  }
  
}

@media only screen and (min-width: 2000px) {  

  .terminal-segment {
    font-size: 1vmin !important;
    line-height: 1.15vmin !important;
  }
  
}


.code-block > span {
  width: inherit;
}